.validContainer {
  position: relative;
  width: 90%;
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin: 20px auto;
  background-color: #f2dede;
}
.validationmsg {
  color: #da1815;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  text-shadow: none;
}
.validContainer i {
  color: #ecd02c;
  position: absolute;
  top: -10px;
  right: -5px;
  font-size: 23px;
}
.form-label {
  display: none;
}
.login,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 120px auto;
  flex-wrap: wrap;
}

.login .form-container,
.register .form-container {
  width: 70%;
}

#img_container {
  width: 30%;
}

#img_container img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .login,
  .register {
    flex-direction: column;
    width: 90%;
  }

  .login .form-container,
  .register .form-container,
  #img_container {
    width: 100%;
  }
}
